--find-links https://download.pytorch.org/whl/torch_stable.html
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
flask
ultralytics
easyocr
opencv-python-headless
numpy
gunicorn