--extra-index-url https://download.pytorch.org/whl/cpu

numpy<2.0

# Versiones ligeras CPU
torch==2.1.2+cpu
torchvision==0.16.2+cpu

# Resto de librerías
flask
ultralytics
easyocr
opencv-python-headless
gunicorn